<h2><%= params[:category] %> Collection Profiles</h2>

<%= render :partial => 'categories' %>

<div class="row">
  <div class="span6" id="searchbox">
    <div class="inner">
      <form>    
        <i class="icon-search"></i>
        <input type="text" name="search" id="search"
          placeholder="Filter Profiles">
      </form>
      <span id="search_count"></span>
    </div>
  </div>
  
  <div class="span6" id="newprofile">
    <div class="inner">
    <%= link_to 'New Profile', new_profile_path, :class => [:btn, "btn-success", "btn-large"] %>
    </div>
  </div>
  
</div>


<%= render :partial => "profiles" %>