<h1>Collection Profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= link_to profile.name, profile %></td>
    <td><%= profile.url %></td>
    <%#= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
