<div class="inner">
  <p>
    <em>A Sitemap helps search engines crawl the important pages on your site.</em
  </p>
  <p>
    For information about sitemaps see <%= link_to 'http://www.sitemaps.org/', 'http://www.sitemaps.org/' %>.
  </p>
  
  
</div>