<div class="inner">
  <h2>About the Sitemap Achievement</h2>
  <p>
    <em>A Sitemap helps search engines crawl the important pages on your site.</em
  </p>
  <p>
    For information about sitemaps see <%= link_to 'http://www.robotstxt.org/', 'http://www.robotstxt.org/' %>.
  </p>
  
  <%= render :partial => '/layouts/provide_resources'%>
</div>