<div class="row">
  <div class="well">
    <h1><%= app_name %></h1>
    <p>
      This site collects information about digital collections on the Web made available
      by libraries, archives, and museums.
    </p>
    <h2>What's Next?</h2>
    <ol>
      <li><%= link_to 'Look at the Collection Profiles', profiles_path %></li>
      <li><%= link_to 'Learn about Collection Achievements', achievements_path %></li>
      <li><%= link_to 'Help to curate the Profiles', curate_path %></li>
    </ol>
  </div>
</div>