// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corner {
    margin-bottom: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    div.inner{padding:10px;}
}

#main {
  #sidebar {    
    border: 1px solid black;
    padding: 5px;
  }
  
  #above_results {   
    @include rounded-corner;
    background-color: whiteSmoke;
    .current_category{
      font-weight:bold;
    }
    #categories{
      padding: 10px;
      .category{
        margin: 5px;
        font-weight:bold;
        font-size: 1.2em;
      } 
    }
     
  }
  
  #searchbox{
    @include rounded-corner;
    background-color: whiteSmoke;
    form{display:inline;}
  }
  #newprofile{
    @include rounded-corner;
    background-color: whiteSmoke;
  }
  
  
  #profiles {   
    .profile{
      padding-bottom: 20px;
      h3{padding:0;margin:0;}  
      @include rounded-corner;
      border: 1px solid #E6E6E6;
      background-color: #FAFAFA;
    }
  }
  
}