<div class="inner">
  <h2>About the Robots.txt Achievement</h2>
  <p>
    <em>Robots.txt determines whether search engines can crawl your site.</em
  </p>
  <p>
    For information about robots.txt see <%= link_to 'http://www.robotstxt.org/', 'http://www.robotstxt.org/' %>.
  </p>
  
  <%= render :partial => '/layouts/provide_resources'%>
</div>
